@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --prymarycolor: rgb(102, 174, 241);
    --secondcolor: rgba(237, 244, 250, 0.938);
    --tertiarycolor: rgba(163, 167, 172, 0.829);
    
}

body{
    background-color: var(--prymarycolor);
    font-size: 15px;
    font-family: Lato, sans-serif;
}

#container{
    height: 525px ;
    width: 369px;
    margin: 100px auto;
    background-color: var(--secondcolor);
    box-shadow: 3px 3px 3px 3px;
    border-radius: 20px;
    
}

.title{
    background-color: var(--tertiarycolor);
    padding: 10px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.tipsForm{
    padding-left: 20px;
    padding-right: 20px;

}
.formInput{
    width: 60px;
    padding: 5px 5px 8px 8px;
}

.formInput:focus{
    border: 3px solid var(--prymarycolor);
}

.formSelect{
    width: 180px;
    padding: 5px;
    padding: 5px 5px 16px 16px;   
}

.formSubmit{
    text-transform: uppercase;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
}

#totalTip{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}